@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
:root {
  --color-yellow: #fae638;
  --color--pink: #ff4a8b;
  --color-orange: #fa5420;
  --color-green: #d3fa38;
  --color-primary: #0ec0e2;
  --color-dark: #1a1a1a;
  --text-font: "Roboto", sans-serif;
  --primary-color: black;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}
.text-primary {
  color: var(--color-primary);
}
.dash {
  color: var(--color--pink);
  margin-bottom: 1rem;
}
h1 {
  font-size: 30px;
  font-weight: 900;
}

.pink {
  color: var(--color-pink);
}
.primary {
  color: var(--color-primary);
}
.yellow {
  color: var(--color-yellow);
}
.dark {
  color: var(--color-dark);
}

.orange {
  color: var(--color-orange);
}
.green {
  color: var(--color-green);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace, "Roboto", sans-serif, "Gochi Hand", cursive, "Poppins",
    sans-serif;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
.gochi {
  font-family: "Gochi Hand", cursive;
}
.font-rob {
  font-family: var(--text-font);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* List */
.list {
  margin: 0.5rem 0;
}

.list li {
  padding-bottom: 0.3rem;
}

/* Padding */

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

/* Grid */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.form-group input {
  background-color: #f3f8ee;
}
.form-group input::placeholder {
  color: #8f8f8f;
  font-family: "Gochi Hand", cursive;
}
.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.grid-2-3 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 2rem;
}

.btn-link {
  background: none;
  padding: 0;
  margin: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

input[type="submit"],
button {
  font: inherit;
}

.form-container {
  max-width: 500px;
  margin: 2rem auto;
  overflow: hidden;
  padding: 0 2rem;
}

.form-group h1,
h2,
h3 {
  text-align: center;
}

table th,
table td {
  padding: 1rem;
  text-align: left;
}

table th {
  background: var(--light-color);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--light-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Animation (Add After) */
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-in;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar h1 {
    margin-bottom: 0.5rem;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }
}

.card {
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.75s ease;
  opacity: 0;
  position: absolute;
  transform: scale(0.85) translateY(50px);
  margin-inline: auto;
}
p {
  font-size: 20px;
}

.card h2,
.card p {
  line-height: 1;
  margin: 0;
}
.card.active {
  opacity: 1;
  transform: scale(1) translateY(0);
  box-shadow: 0 30px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.card.next {
  opacity: 0;
  z-index: 0;
}
.card.prev {
  transform: scale(1.1) translateY(-50px);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}

.divide {
  display: flex;
}
.divide > *:nth-child(n) {
  flex-basis: 100%;
}
.divide > *:nth-child(1) {
  flex: 0 0 50%;
}
.divide > *:nth-child(2) {
  flex: 0 0 50%;
}
h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #215276;
}
.sidenav {
  padding: 0.5rem;
}
.catlabel1,
.catlabel2,
.rupeelabel {
  background: #215276;
  text-align: center;
  padding: 0.2rem;
  border-radius: 10px;
  color: #215276;
  width: 9vw;
}
/*Category Label orange*/
.catlabel1 {
  background-color: #ffb164;
}

.catlabel2 {
  background-color: #f5d4d4;
  position: relative;
  text-align: left;
  padding: 0.2rem 0.5rem;
}

.linkstyle {
  color: black;
}

.linkstyle:hover {
  color: pink;
  transition: all 0.75s 0.25s;
}
.descimage {
  border-radius: 5px;
}
.descbox,
.delbox {
  background: rgba(208, 255, 127, 0.5);
  padding: 0.5rem;
  border: 1px solid #ffffff;
  backdrop-filter: blur(4px);
  border-radius: 10px;
  text-align: left;
  margin-inline: 5rem;
  margin-top: 0.5rem;
  width: auto;
}
.delbox {
  background: rgba(255, 177, 100, 0.5);
}

/* } */
.icon {
  height: 2vh;
  width: 2vh;
  margin: 0 auto;
}
.seperate {
  display: flex;
  justify-content: space-around;
}
.welcome {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.welcome > *:nth-child(n) {
  flex-basis: 100%;
}

.welcome > *:nth-child(1) {
  flex: 0 0 5%;
  margin-bottom: 1rem;
}
.shop {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.shop > *:nth-child(n) {
  flex: 0 0 100%;
}

.align {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}
